# Query Results

Once the graph has been created we would want to see a visual and table represenation of the results.

### Visual Representation

In [37]:
import networkx as nx
# Load the graph from the GML file
graph = nx.read_gml("../data/result/knowledge_graph_limit=3000000.gml")

In [80]:
query = "Churchill"

In [81]:
from pyvis.network import Network

# Create a PyVis network visualization for specific queries
net = Network(notebook=True)

# Create a subgraph containing only the neighbors of "Napoleon Bonaparte"
subgraph = graph.subgraph([query] + list(graph.neighbors(query)))
net.from_nx(subgraph)

# Display the graph
net.show("query_result.html")

Warning: When  cdn_resources is 'local' jupyter notebook has issues displaying graphics on chrome/safari. Use cdn_resources='in_line' or cdn_resources='remote' if you have issues viewing graphics in a notebook.
query_result.html

### Table Representation

In [57]:
import pandas as pd

def query_relationships(graph, query):
    """
    This function takes a graph and a query entity (like 'London') and returns a DataFrame
    showing all the relationships involving that entity.
    
    Parameters:
    - graph: The knowledge graph (e.g., a NetworkX graph).
    - query: The entity to search for in the graph (string).
    
    Returns:
    - df: A pandas DataFrame showing all relationships involving the query entity.
    """
    data = []  # List to store relationships
    
    # Check if the query node exists in the graph
    if query in graph:
        # Iterate over all the neighbors (connected nodes) of the query
        for neighbor in graph.neighbors(query):
            # Extract the relationship (edge data) between the query and its neighbor
            relationship = graph[query][neighbor].get('relationship', 'Unknown')
            
            # Append the relationship to the data list
            data.append([query, neighbor, relationship])
    
    # Convert the list to a pandas DataFrame
    df = pd.DataFrame(data, columns=["Entity 1", "Entity 2", "Relationship"])
    
    return df

In [75]:
# Example query
query = "London"

# Get all relationships involving 'London'
df = query_relationships(graph, query)

df

    Entity 1                           Entity 2 Relationship
0     London                              first           be
1     London                               half       report
2     London                             Europe           be
3     London                               Rome       travel
4     London                      Mediterranean           do
..       ...                                ...          ...
171   London                                May     dissolve
172   London                          the month     dissolve
173   London                             Polish     dissolve
174   London               The Great Exhibition   Exhibition
175   London  A Conference on Naval Disarmament         meet

[176 rows x 3 columns]